torch
transformers
librosa
pandas
numpy
tqdm
peft
huggingface-hub
jiwer
soundfile
scipy
pydub
yt_dlp
youtube_transcript_api
torchaudio
datasets
scikit-learn
evaluate
tensorboardX
matplotlib
audiomentations